<header class="header">
    <nav>
        <section class="title">AdOps</section>

        <section>NavLinks</section>

        <section class="profile">
            <div class="picture">
                <img src="https://external-preview.redd.it/QtEmmvz3FGNW9fyZMPjXfPKzIkJs_xxacWQWBb0AInE.jpg?auto=webp&s=76ba026a03f6ef286c14f2f097883ed00e23607a"
                    alt="profile-photo" />
            </div>
            <div class="name">Christian Lynch</div>
            ^
        </section>
    </nav>
</header>