<div class="control-section">
    <ejs-dropdownlist id='value' #sample index='0' width='220' [dataSource]='ddlData' (change)='valueChange($event)'
        [fields]='fields' [popupHeight]='height'></ejs-dropdownlist>
    <span id='msg'></span>
    <br />
    <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data' [query]='query' rowHeight='38' [allowSelection]='true'
        [allowSorting]='true' [loadingIndicator]='loadingIndicator' height='400' (dataBound)='onDataBound($event)'
        [enableHover]='false' [enableHeaderFocus]='true' [selectionSettings]='selectionSettings'
        [filterSettings]='filterSettings' [allowSorting]='true' [allowFiltering]='true' [enableVirtualization]='true'
        allowResizing="true" [allowReordering]='true'>
        <e-columns>
            <e-column type='checkbox' [allowFiltering]='true' [allowSorting]='false'></e-column>
            <e-column field='EmployeeID' [visible]='false' headerText='Employee ID' [isPrimaryKey]='true'></e-column>
            <e-column field='Employees' headerText='Employee Name' clipMode='EllipsisWithTooltip'>
                <ng-template #template let-data>
                    <div>
                        <div class="empimg">
                            <span *ngIf="data.EmployeeImg === 'usermale'" class="e-userimg sf-icon-Male">
                            </span>
                            <span *ngIf="data.EmployeeImg === 'userfemale'" class="e-userimg sf-icon-FeMale">
                            </span>
                        </div>
                        <span id="Emptext">{{data.Employees}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='Designation' headerText='Designation' clipMode='EllipsisWithTooltip'></e-column>
            <e-column field='Mail' headerText='Mail' [filter]='filterSettings'></e-column>
            <e-column field='Location' headerText='Location'>
                <ng-template #template let-data>
                    <div class="loc">
                        <img src="./assets/grid/images/Map.png" class="e-image" alt="{{data.Location}}" />
                        <span id="locationtext">{{data.Location}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='Status' headerText='Status'>
                <ng-template #template let-data>
                    <div *ngIf="data.Status === 'Active';else login" class="statustemp e-activecolor">
                        <span class="statustxt e-activecolor">{{data.Status}}</span>
                    </div>
                    <ng-template #login>
                        <div class="statustemp e-inactivecolor">
                            <span class="statustxt e-inactivecolor">{{data.Status}}</span>
                        </div>
                    </ng-template>
                </ng-template>
            </e-column>
            <e-column field='Trustworthiness' headerText='Trustworthiness'>
                <ng-template #template let-data>
                    <div class="trust">
                        <!-- <img style="width: 31px; height: 24px"
                            src="./assets/grid/images/{{data.Trustworthiness}}.png" /> -->
                        <span id="Trusttext">{{data.Trustworthiness}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='Rating' [allowFiltering]='true' headerText='Rating'>
                <ng-template #template let-data>
                    <div class="rate">
                        <div class="rating">
                            <input ejs-rating [readOnly]="true" value={{data.Rating}} cssClass='custom-rating' />
                        </div>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='Software' headerText='Software' [allowSorting]='false' [allowFiltering]='true'>
                <ng-template #template let-data>
                    <div id="myProgress" class="pbar">
                        <div id="myBar" *ngIf="data.Status === 'Inactive';" [style.width.%]=data.Software
                            class="bar progressdisable">
                            <div id="pbarlabel" class="barlabel">{{data.Software}}%</div>
                        </div>
                        <div id="myBar" *ngIf="data.Status === 'Active';" [style.width.%]=data.Software class="bar">
                            <div id="pbarlabel" class="barlabel">{{data.Software}}%</div>
                        </div>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='CurrentSalary' headerText='Current Salary' [filter]='filterSettings'
                format='C2'></e-column>
            <e-column field='Address' headerText='Address' [filter]='filterSettings'
                clipMode='EllipsisWithTooltip'></e-column>
        </e-columns>
    </ejs-grid>
</div>